<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}ホーム画面{% endblock %}</title>
    {% load static %}
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/select2.css' %}" rel="stylesheet">
    {% block extra_head %}{% endblock %}

    <style>
        input[type="text"],
        input[type="number"],
        input[type="file"],
        select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #fff;
        }
    </style>
</head>
<body>
    <!-- ナビゲーションバー -->
    <header>
        <nav>
            <a href="{% url 'home' %}">ホーム</a>
            <a href="{% url 'my_cosmetics' %}">マイコスメ</a>

            <div class="mt-2">
                <select id="favorites-select" class="form-select" onchange="navigateToCategory()">
                    <option value="">お気に入り</option>
                    <option value="{% url 'favorites_cosme' %}">マイコスメお気に入り</option>
                    <option value="{% url 'favorites_make' %}">マイメイクお気に入り</option>
                </select>
            </div>

            <script>
                function navigateToCategory() {
                    const selectedValue = document.getElementById("favorites-select").value;
                    if (selectedValue) {
                        // 選択されたURLに遷移
                        window.location.href = selectedValue;
                    }
                }
            </script>

            <a href="{% url 'my_page' %}">マイページ</a>

            <div class="mt-2">
                <select id="settings-select" class="form-select" onchange="navigateToSetting()">
                    <option value="">設定</option>
                    <option value="{% url 'email_change' %}">メールアドレス変更</option>
                    <option value="{% url 'password_change' %}">パスワード変更</option>
                    <option value="{% url 'logout' %}">ログアウト</option>
                </select>
            </div>

            <script>
                function navigateToSetting() {
                    const selectedValue = document.getElementById("settings-select").value;
                    if (selectedValue) {
                        // 選択されたURLに遷移
                        window.location.href = selectedValue;
                    }
                }
            </script>
        </nav>
    </header>

    <!-- コンテンツエリア -->
    <main>
        {% block content %}
        <!-- 子テンプレートの内容がここに挿入されます -->
        {% endblock %}
    </main>

    <!-- JavaScript -->
    {% block extra_js %}{% endblock %}
</body>
</html>
