{% extends 'base.html' %}

{% block title %}ホーム画面{% endblock %}

{% block content %}
<div class="container">
    <!-- 左側: 未使用のマイコスメ -->
    <section class="unused-cosmetics">
        <h2>未使用のマイコスメ</h2>
        <ul>
            {% for cosmetic in unused_cosmetics %}
                <li>{{ cosmetic.cosmetic.cosmetic_name }}</li>  <!-- 使用状況が「未使用」のコスメ名を表示 -->
            {% empty %}
                <p>未使用のコスメはありません。</p>
            {% endfor %}
        </ul>
    </section>

    <!-- 右側: フォローユーザーの投稿 -->
    <section class="follow-user-posts">
        <h2>タイムライン</h2>
        <form method="GET" action="">
            <select name="personal_color">
                <option value="">全て</option>
                <option value="イエベ春" {% if personal_color == "イエベ春" %}selected{% endif %}>イエベ春</option>
                <option value="ブルベ夏" {% if personal_color == "ブルベ夏" %}selected{% endif %}>ブルベ夏</option>
                <option value="イエベ秋" {% if personal_color == "イエベ秋" %}selected{% endif %}>イエベ秋</option>
                <option value="ブルベ冬" {% if personal_color == "ブルベ冬" %}selected{% endif %}>ブルベ冬</option>
                <option value="不明" {% if personal_color == "不明" %}selected{% endif %}>不明</option>
            </select>
            <button type="submit" class="btn btn-primary">フィルター</button>
        </form>
        <ul>
            {% for post in follow_user_posts %}
                <li>
                    <img src="{{ post.image.url }}" alt="{{ post.make_name }}">
                    <a href="{% url 'my_make_detail' post.id %}">
                        <p>{{ post.make_name }}</p>
                    </a>
                </li>
            {% empty %}
                <p>フォローしているユーザーの投稿がありません。</p>
            {% endfor %}
        </ul>
    </section>
</div>

<!-- マイメイク投稿ボタン -->
<div class="post-button">
    <a href="{% url 'my_make_post_new' %}">マイメイク投稿</a>
</div>

<style>
.follow-user-posts img {
    width: 100px; /* ここで希望のサイズに調整 */
    height: auto; /* アスペクト比を維持 */
}
</style>
{% endblock %}
