<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CosCharm</title>
</head>
<body>
    <h1>ログインページ</h1>
    <form method="post">
        {% csrf_token %}
        <div>メールアドレス<input type="email" name="email"></div>
        <div>パスワード<input type="password" name="password"></div>
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <button type="submit">ログイン</button>
    </form>
    {{ form.errors }}
    <a href="{% url 'signup' %}">新規登録画面へ</a>
</body>
</html>