{% extends 'base.html' %}

{% block title %}マイコスメ編集{% endblock %}

{% block content %}
<h1 class="page-title">マイコスメ編集</h1>


<div class="container-2">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2> {{ my_cosmetic.cosmetic.cosmetic_name }}</h2>  <!-- コスメ名を表示 -->

      <form method="POST" class="mt-4" action="{% url 'my_cosmetic_edit' pk=my_cosmetic.pk %}">
        {% csrf_token %}
        <div class="mb-3">
          {{ form.as_p }}
        </div>

        <button type="submit" class="btn w-100 btn-primary">保存</button>
        <a href="{% url 'my_cosmetics' %}" class="btn w-100 btn-secondary mt-2">キャンセル</a>
      </form>
    </div>
  </div>
</div>

<style>
  /* マイコスメ編集画面用スタイル */
  .container-2 {
      max-width: 700px; 
      border: 1px solid #ccc;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      background-color: #f9f9f9;
      margin-top: 20px;
      padding: 50px;
  }

  .btn {
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: #007BFF;
      color: #fff;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  }

  .btn:hover {
      background-color: #0056b3;
  }

  .btn-secondary {
      background-color: #6c757d;
  }

  .btn-secondary:hover {
      background-color: #5a636a;
  }

  .page-title {
      text-align: center;
      margin-bottom: 10px;
  }
</style>
{% endblock %}
