{% extends 'base.html' %}

{% block title %}マイコスメ一覧{% endblock %}

{% block content %}
<h1>マイコスメ一覧</h1>
<form method="GET">
    <input type="text" name="q" placeholder="検索..." value="{{ query }}">
    <label for="include_used">
        <input type="checkbox" name="include_used" id="include_used" {% if include_used %}checked{% endif %}>
        使用済みを含める
    </label>
    <button type="submit" class="btn btn-primary">検索</button>
</form>

<ul class="list-group">
    {% for cosmetic in cosmetics %}
    <li class="list-group-item">
        <a href="{% url 'my_cosmetic_detail' cosmetic.cosmetic.pk %}">{{ cosmetic.cosmetic.cosmetic_name }}</a>
        <a href="{% url 'my_cosmetic_edit' pk=cosmetic.pk %}" class="btn btn-primary">編集</a>
    </li>
    {% empty %}
    <li class="list-group-item">コスメが登録されていません。</li>
    {% endfor %}
</ul>

<div class="d-flex justify-content-end">
    <a href="{% url 'my_cosmetic_register' %}" class="btn btn-success">コスメを登録する</a>
</div>
{% endblock %}

