{% extends 'base.html' %}

{% block title %}
メイク詳細
{% endblock %}

{% block content %}
<h1>{{ my_make.make_name }}</h1>

<div>
  <h2>メインコスメ:</h2>
  <p>{{ main_cosmetic }}</p>
</div>

<div>
  <h2>他使用コスメ:</h2>
  <ul>
    {% for cosmetic in other_cosmetics %}
      <li>{{ cosmetic }}</li>
    {% endfor %}
  </ul>
</div>
<p>メイクメモ: {{ my_make.make_memo }}</p>
<p>作成日: {{ my_make.created_at }}</p>
<div>
  <h2>写真:</h2>
  <img src="{{ my_make.image.url }}" alt="メイク画像">
</div>

<footer>
    <button onclick="location.href='{% url 'my_make_post' my_make.pk %}'">編集</button>
    <form action="{% url 'delete_my_make' my_make.pk %}" method="post" style="display:inline;">
        {% csrf_token %}
        <button type="submit">削除</button>
    </form>
</footer>
{% endblock %}
