{% extends 'base.html' %}

{% block title %}パスワード変更{% endblock %}

{% block content %}
<h1 class="page-title">パスワード変更</h1>
<form method="POST" action="{% url 'password_change' %}" class="centered-form">
    {% csrf_token %}
    <div class="form-group">
        {{ form.old_password.label_tag }}
        {{ form.old_password }}
        {% if form.old_password.errors %}
            <div class="text-danger">{{ form.old_password.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.new_password1.label_tag }}
        {{ form.new_password1 }}
        {% if form.new_password1.errors %}
            <div class="text-danger">{{ form.new_password1.errors }}</div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.new_password2.label_tag }}
        {{ form.new_password2 }}
        {% if form.new_password2.errors %}
            <div class="text-danger">{{ form.new_password2.errors }}</div>
        {% endif %}
    </div>
    <button type="submit" class="btn btn-primary">変更する</button>
    {% if form.non_field_errors %}
        <div class="text-danger">{{ form.non_field_errors }}</div>
    {% endif %}
</form>

{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f9f9f9;
    }

    .page-title {
        text-align: center;
        margin-bottom: 20px;
    }

    .centered-form {
        width: 50%;
        max-width: 500px;
        margin: 0 auto; /* フォームを中央に寄せる */
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    input[type="password"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-color: #fff;
    }

    .form-group {
        margin-bottom: 15px;
    }

    button {
        width: 50%;
        padding: 10px;
        background-color: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    button:hover {
        background-color: #0056b3;
    }

    .text-danger {
        color: red;
    }

    .messages {
        list-style-type: none;
        padding: 0.
    }

    .messages li {
        margin-bottom: 10px;
    }

    input::placeholder {
    color: #6c757d;
    opacity: 1; /* Firefoxではこれが必要です */
    }  

</style>
{% endblock %}

